@import 'variables';

.aboutUs{
    margin-top: 10%;
    .uk-overlay {
        max-width: 300px;
    }
    .row {

        align-items: center;
        .col{
            img {
                max-height: 300px;
                width: auto;
            }
        }
    
        p{
            font-size: 20px;
            line-height: 30px;
           
        } 
    }
   
}