@import 'variables';

.aboutUs{
    margin-top: 10%;

    .row {
        align-items: center;
        flex-direction: column-reverse;
        .col{
            img {
                max-height: 300px;
            }
        }
    
        p{
            font-size: 20px;
            line-height: 30px;
           
        } 
    }
   
}