@import 'variables';

.aboutUs{
    .uk-overlay {
        max-width: 300px;
    }
    .row {

        align-items: center;
        .col{
            img {
                max-height: 300px;
                width: 300px;
            }
        }
    
        p{
            font-size: 20px;
            line-height: 30px;
           
        } 
    }
   
}

@media screen and (max-width: 600px){ 
.aboutUs{
    .uk-overlay {
        max-width: 300px;
    }
    .row {
        display: flex;
        flex-direction: column-reverse;
        .col{
            img {
                max-height: 300px;
                width: 300px;
            }
        }
    
        p{
            font-size: 16px;
            line-height: 20px;
           
        } 
    }
   
}

}