@import 'variables';

.contact-us {
    background-color: $dark;
    color: $light;
}
.form {
    display: flex;
    flex-direction: column;

    .formRow {
        padding: 20px 0px;
        
        input, textarea {
            background-color: black;
            font-family: $font;
            font-weight: 300;
            max-width: 500px;
            border: none;
            border-bottom: 2px solid $light;
        }
        input::placeholder, textarea::placeholder {
            color: $light;
        }
    }
}