@import 'variables';

.contact-us {
    background-color: $dark;
    color: $light;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .formRow {
        padding: 20px 0px;
        
        input, textarea {
            background-color: black;
            font-family: $font;
            font-weight: 300;
        }
        input::placeholder, textarea::placeholder {
            color: $light;
        }
    }
}