@import 'variables';

.align-middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}
.header-wrapper{
    height: 100vh;
    .header-text{
        .card{
            border: none;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1, h5{
                font-family: $font;
                color: $dark;
            }

            h1{
                font-size: 70px;
                line-height: 100px;
            }
            h5{
                font-size: 20px;
                line-height: 20px; 
                font-weight: 300;
            }

        }
    }
}
a.action-btn {
    border: 1px solid $dark;
    background-color: $dark;
    width: 100px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: $btn-shadow;
    color: $light;
    text-align: center;
    line-height: 20px;
    &:hover{
        text-decoration: none;
    }

}

// Mobile devices and small screens
@media screen and (max-width: 600px){
    .align-middle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 400px;
    }
    .header-wrapper{
        height: 100vh;
        .header-text{
            .card{
    
                h1{
                    font-size: 30px;
                    line-height: 30px;
                }
                h5{
                    font-size: 18px;
                    line-height: 18px; 
                    font-weight: 300;
                }
    
            }
        }
    }
    a.action-btn {
        border: 1px solid $dark;
        background-color: $dark;
        width: 100px;
        border-radius: 20px;
        padding: 10px;
        box-shadow: $btn-shadow;
        color: $light;
        text-align: center;
        line-height: 20px;
        &:hover{
            text-decoration: none;
        }
    
    }
}