@import 'variables';

.align-middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-wrapper{
    .header-text{
        .card{
            border: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1{
                font-size: 70px;
                line-height: 70px;
                text-align: center;
                font-family: $header-font;
            }
        }
    }
}