@import 'variables';

.ourWork-wrapper {
    height: 100vh;
    

    .what-we-do {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;

        .uk-progress {
            background-color: $dark !important;
        }
    }
}

.title {
    font-weight: 700;
    line-height: 70px;
    font-family: $font;
    font-size: 70px;
    color:$dark;
    text-shadow: $btn-shadow;
}
p{
    color: $dark;
    font-family: $font;
}

@media screen and (max-width: 600px){

}