@import 'variables';

.ourWork-wrapper {
    height: 100vh;
    

    .what-we-do {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        h2 {
            font-weight: 700;
            line-height: 50px;
            font-family: $font;
            font-size: 50px;
            color: $dark;
            text-shadow: 4px 3px 0px rgba(0, 0, 0, 0.54), 9px 8px 0px rgba(0,0,0,0.15);        }
        p{
            color: $dark;
            font-family: $font;
        }
    }
}