body{
    background-color: white;
}
div{
    display: flex;
    flex-direction: column;
    .long-bar-one, .long-bar-three, .short-bar-two{
        border: 2px solid black;
        margin-bottom: 3px;
    }
    .long-bar-one, .long-bar-three{
        width: 40px;
    }
    .short-bar-two{
        width: 20px;
    }

}