@import 'variables';
@import 'navbar';
@import 'header';
@import 'our-work';
@import 'aboutUs';

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: white;
}

