@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap");
.navbar-toggler {
  border: none;
}

.navbar-toggler .nav-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-toggler .nav-icon .long-bar-one, .navbar-toggler .nav-icon .long-bar-three, .navbar-toggler .nav-icon .short-bar-two {
  border: 2px solid black;
  margin-bottom: 5px;
}

.navbar-toggler .nav-icon .long-bar-one, .navbar-toggler .nav-icon .long-bar-three {
  width: 33px;
}

.navbar-toggler .nav-icon .short-bar-two {
  width: 20px;
}

.navbar-toggler .nav-icon:hover .long-bar-one, .navbar-toggler .nav-icon:hover .long-bar-three {
  width: 20px;
  -webkit-transition: width 300ms ease-in-out 0s;
  transition: width 300ms ease-in-out 0s;
}

.navbar-toggler .nav-icon:hover .short-bar-two {
  width: 33px;
}

.nav-item a.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item a.nav-link:hover {
  margin-right: 10px;
}

.nav-item a.nav-link .menu-text, .nav-item a.nav-link .fa {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav-item .menu-text {
  color: black;
  font-weight: 500;
  font-family: "IBM Plex Sans", sans-serif;
  display: none;
}

.nav-item .fa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-size: 35px;
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.nav-item .fa:hover {
  background-color: black;
  color: white;
  -webkit-transition: width 300ms ease-in-out 0s;
  transition: width 300ms ease-in-out 0s;
}

.align-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
}

.header-wrapper {
  height: 100vh;
}

.header-wrapper .header-text .card {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-wrapper .header-text .card h1, .header-wrapper .header-text .card h5 {
  font-family: "IBM Plex Sans", sans-serif;
  color: black;
}

.header-wrapper .header-text .card h1 {
  font-size: 70px;
  line-height: 100px;
}

.header-wrapper .header-text .card h5 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
}

a.action-btn {
  border: 1px solid black;
  background-color: black;
  width: 100px;
  border-radius: 20px;
  padding: 10px;
  -webkit-box-shadow: 2px 20px 25px -15px rgba(0, 0, 0, 0.54);
          box-shadow: 2px 20px 25px -15px rgba(0, 0, 0, 0.54);
  color: white;
  text-align: center;
  line-height: 20px;
}

a.action-btn:hover {
  text-decoration: none;
}

.ourWork-wrapper {
  height: 100vh;
}

.ourWork-wrapper .what-we-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  font-weight: 700;
  line-height: 70px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 70px;
  color: black;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

p {
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
}

.aboutUs {
  margin-top: 10%;
}

.aboutUs .uk-overlay {
  max-width: 300px;
}

.aboutUs .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutUs .row .col img {
  max-height: 300px;
  width: 300px;
}

.aboutUs .row p {
  font-size: 20px;
  line-height: 30px;
}

.contact-us {
  background-color: black;
  color: white;
}

.contact-us h2 {
  color: white;
  font-size: 70px;
  font-weight: 700;
  font-family: "IBM Plex Sans", sans-serif;
}

.contact-us p {
  color: white;
  font-size: 30px;
  font-weight: 700;
  font-family: "IBM Plex Sans", sans-serif;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form .formRow {
  padding: 20px 0px;
}

.form .formRow input, .form .formRow textarea {
  background-color: black;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  width: 500px;
  border: none;
  border-bottom: 2px solid white;
  padding: 10px;
  font-size: 20px;
}

.form .formRow input::-webkit-input-placeholder, .form .formRow textarea::-webkit-input-placeholder {
  color: white;
}

.form .formRow input:-ms-input-placeholder, .form .formRow textarea:-ms-input-placeholder {
  color: white;
}

.form .formRow input::-ms-input-placeholder, .form .formRow textarea::-ms-input-placeholder {
  color: white;
}

.form .formRow input::placeholder, .form .formRow textarea::placeholder {
  color: white;
}

.form .formRowBtn input {
  width: 500px;
  color: black;
  background-color: white;
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: uppercase;
  padding: 10px;
  outline: none;
  border: 1px solid white;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: white;
}

section {
  height: 100vh;
  padding: 20px 0px;
}
/*# sourceMappingURL=stylesheet.css.map */