@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap");
.navbar-toggler {
  border: none;
}

.navbar-toggler .nav-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-toggler .nav-icon .long-bar-one, .navbar-toggler .nav-icon .long-bar-three, .navbar-toggler .nav-icon .short-bar-two {
  border: 2px solid black;
  margin-bottom: 5px;
}

.navbar-toggler .nav-icon .long-bar-one, .navbar-toggler .nav-icon .long-bar-three {
  width: 33px;
}

.navbar-toggler .nav-icon .short-bar-two {
  width: 20px;
}

.navbar-toggler .nav-icon:hover .long-bar-one, .navbar-toggler .nav-icon:hover .long-bar-three {
  width: 20px;
  -webkit-transition: width 300ms ease-in-out 0s;
  transition: width 300ms ease-in-out 0s;
}

.navbar-toggler .nav-icon:hover .short-bar-two {
  width: 33px;
}

.nav-item a.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item a.nav-link:hover {
  margin-right: 10px;
}

.nav-item a.nav-link .menu-text, .nav-item a.nav-link .fa {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav-item .menu-text {
  color: black;
  font-weight: 500;
  font-family: "IBM Plex Sans", sans-serif;
  display: none;
}

.nav-item .fa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-size: 35px;
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.nav-item .fa:hover {
  background-color: black;
  color: white;
  -webkit-transition: width 300ms ease-in-out 0s;
  transition: width 300ms ease-in-out 0s;
}

.align-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
}

.header-wrapper {
  height: 100vh;
}

.header-wrapper .header-text .card {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-wrapper .header-text .card h1, .header-wrapper .header-text .card h5 {
  font-family: "IBM Plex Sans", sans-serif;
  color: black;
}

.header-wrapper .header-text .card h1 {
  font-size: 70px;
  line-height: 100px;
}

.header-wrapper .header-text .card h5 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
}

a.action-btn {
  border: 1px solid black;
  background-color: black;
  width: 100px;
  border-radius: 20px;
  padding: 10px;
  -webkit-box-shadow: 2px 20px 25px -15px rgba(0, 0, 0, 0.54);
          box-shadow: 2px 20px 25px -15px rgba(0, 0, 0, 0.54);
  color: white;
  text-align: center;
  line-height: 20px;
}

a.action-btn:hover {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .align-middle {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    height: auto;
  }
  .header-wrapper .header-text .card h1 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
  }
  .header-wrapper .header-text .card h5 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
  }
}

.ourWork-wrapper {
  height: 100vh;
}

.ourWork-wrapper .what-we-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list li {
  color: black;
  font-weight: 500;
  line-height: 20px;
  font-size: 20px;
  font-family: "IBM Plex Sans", sans-serif;
}

.uk-progress::-webkit-progress-bar {
  background-color: white;
}

.uk-progress::-moz-progress-bar {
  background-color: white;
}

.uk-progress-danger::-webkit-progress-value {
  background-color: black;
}

.uk-progress-danger::-ms-fill {
  background-color: black;
}

.title {
  font-weight: 700;
  line-height: 70px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 70px;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);
}

p {
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
}

@media screen and (max-width: 600px) {
  .ourWork-wrapper .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ourWork-wrapper .row .col {
    width: 100%;
  }
  .title {
    line-height: 50px;
    font-size: 50px;
  }
}

.aboutUs .uk-overlay {
  max-width: 300px;
}

.aboutUs .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutUs .row .col img {
  max-height: 300px;
  width: 300px;
}

.aboutUs .row p {
  font-size: 20px;
  line-height: 30px;
}

@media screen and (max-width: 600px) {
  .aboutUs .uk-overlay {
    max-width: 300px;
  }
  .aboutUs .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .aboutUs .row .col img {
    max-height: 300px;
    width: 300px;
  }
  .aboutUs .row p {
    font-size: 16px;
    line-height: 20px;
  }
}

.contact-us, .uk-modal-dialog, .uk-modal-close-full {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

.contact-us h2, .uk-modal-dialog h2, .uk-modal-close-full h2 {
  color: white;
  font-size: 70px;
  font-weight: 700;
  font-family: "IBM Plex Sans", sans-serif;
}

.contact-us p, .uk-modal-dialog p, .uk-modal-close-full p {
  color: white;
  font-size: 30px;
  font-weight: 700;
  font-family: "IBM Plex Sans", sans-serif;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form .formRow {
  padding: 20px 0px;
}

.form .formRow input, .form .formRow textarea {
  background-color: black;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  width: 500px;
  border: none;
  border-bottom: 2px solid white;
  padding: 10px;
  font-size: 20px;
}

.form .formRow input::-webkit-input-placeholder, .form .formRow textarea::-webkit-input-placeholder {
  color: white;
}

.form .formRow input:-ms-input-placeholder, .form .formRow textarea:-ms-input-placeholder {
  color: white;
}

.form .formRow input::-ms-input-placeholder, .form .formRow textarea::-ms-input-placeholder {
  color: white;
}

.form .formRow input::placeholder, .form .formRow textarea::placeholder {
  color: white;
}

.form .formRowBtn input {
  width: 500px;
  color: black;
  background-color: white;
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: uppercase;
  padding: 10px;
  outline: none;
  border: 1px solid white;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .contact-us .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-us .row .col {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .contact-us h2 {
    font-size: 50px;
  }
  .contact-us p {
    font-size: 20px;
  }
  .form {
    width: 320px;
    padding: 0px 10px;
  }
  .form input, .form textarea {
    width: 300px;
    font-size: 18px;
  }
  .form .formRowBtn input {
    width: 300px;
  }
}

.footer {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer p {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: white;
}

.wrapper {
  overflow-x: hidden;
  margin: 0px 50px;
}

section {
  height: 100vh;
  padding: 20px 0px;
}

@media screen and (max-width: 600px) {
  .wrapper {
    margin: 0px;
  }
  section {
    margin: 30px 0;
  }
}
/*# sourceMappingURL=stylesheet.css.map */